* {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 3rem 3rem 2rem 3rem;
    text-align: center;
    color: rgb(162, 1, 1);
}
.icon-wrapper {
    margin: auto 3rem;
    display: flex;
    place-content: center center;
}
.poke-icon {
    margin: 1rem 1rem;
    width: 4rem;
    display: block;
}
.tabs-wrapper {
    margin: 1rem 1rem;
    max-width: 650px;
    display: flex;
    place-content: center center;
    flex-wrap: wrap;
}
.tabs-wrapper img {
    margin: 4px;
    width: 60px;
}
.card-list {
    margin: 2rem 3rem;
    display: flex;
}
.card {
    margin: 1rem;
    padding: 2rem;
    width: 160px;
    border: 1px solid black;
}